.form_title {
  text-align: center;
  font-size: 2.5em;
}

.form {
  border: 0.5px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 38vh;
  margin: auto;
}

.form_input,
.form_textarea {
  width: 35vw;
  height: 4vw;
  margin: 4px;

  border-radius: 0.5rem;
  border: 0.5px solid var(--color-primary-variant);
  padding-left: 5px;
}

.form_textarea {
  height: 25vh;
  resize: none;
}

.form_button {
  background-color: var(--color-primary);
  color: var(--color-bg);
  border: 1px solid transparent;
  width: 120px;
  height: 80px;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  margin: 5px;
  align-self: flex-end;
  margin-right: 45px;
}

.back_button {
  width: 120px;
  height: 80px;
  padding: 13px 35px 13px 35px;
  border-radius: 0.5rem;
  background: var(--color-bg);
  border: 1px solid var(--color-primary-variant);
}

.back_button:hover {
  background-color: var(--color-primary-variant);
  color: var(--color-bg);
}
.form_button:hover {
  background: var(--color-primary-variant);
  cursor: pointer;
}

/*---------------Responsive CSS for Small Devices -----------------*/

@media screen and (max-width: 450px) {
  .wrapper {
    margin-top: 25px !important;
  }
  .form_title {
    font-size: 2em;
  }
  .form {
    width: 300px !important;
    height: 350px !important;
  }
  .form_input,
  .form_textarea {
    width: 250px !important;
  }
  .form_textarea {
    height: 60vh !important;
  }
  .form_button {
    margin-right: 25px !important;
    height: 100px !important;
  }
}

/*---------------Responsive CSS for Medium Devices -----------------*/

@media screen and (max-width: 1024px) {
  .wrapper {
    margin-top: 15px;
  }
  .form_title {
    font-size: 2.5em;
  }
  .form {
    width: 650px;
    height: 400px;
  }

  .form_input,
  .form_textarea {
    width: 600px;
  }

  .form_button {
    height: 50px;
    margin-right: 23px;
  }
}

@media screen and (max-height: 800px) {
  .wrapper {
    margin-top: 15px;
  }

  .form {
    height: 500px;
  }

  .form_button {
    height: 50px;
  }
}
